<div class="lg:mt-8 flex flex-col lg:flex-row lg:flex-wrap lg:space-x-8 lg:justify-evenly">
  <div class="lg:mt-4 lg:mt-0 lg:w-[800px]">
    <app-carousel></app-carousel>
  </div>
  <div class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <app-home-info></app-home-info>
  </div>

  <div class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Pour un toilettage sans difficulté
      </h1>
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Parking facile
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Facile d'accés vous n'aurez aucun mal a vous garer grace au parking du refuge
      </p>

      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Attendre ou non
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Si vous pouvez assister au toilettage ou venir rechercher votre chien plus tard comme cela vous arrange.
      </p>
    </div>
  </div>
  <div class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Mes diplômes
      </h1>
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Diplomé en toilettage
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus odio nec
      </p>

      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Diplomé en coupe je sais pas quoi
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam finibus odio nec
      </p>
    </div>

  </div>
</div>
