<div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg">
  <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
    Bienvenue chez Roxy Toilettage !
  </h1>

  <p class="text-gray-700 leading-relaxed mb-4">
    Toiletteuse diplômée depuis <strong>2023</strong>, j’ai acquis deux années d’expérience en travaillant dans un salon de toilettage avant de me lancer à mon compte. Aujourd’hui, je vous accueille dans mon petit salon spécialement aménagé, situé au cœur du refuge <strong><a href="https://www.etoiledebonte.net/">L’Étoile de Bonté</a></strong> à Quaregnon, pour prendre soin et chouchouter vos compagnons à quatre pattes.
  </p>

  <h2 class="text-xl font-semibold text-gray-800 mb-4">
    Roxy Toilettage, une belle collaboration
  </h2>

  <p class="text-gray-700 leading-relaxed mb-4">
    <strong>Roxy Toilettage</strong> est né d’une belle opportunité : bénévole à la <strong>SPA de Quaregnon</strong>, j’ai pu bénéficier d’un local au sein du refuge. Cette collaboration unique nous permet de combiner soins pour vos animaux et soutien à une bonne cause.
  </p>

  <p class="text-gray-700 leading-relaxed">
    En effet, lorsque vous choisissez <strong>Roxy Toilettage</strong>, une partie des bénéfices est reversée directement au refuge. Ainsi, tout en offrant une petite beauté à votre compagnon, vous contribuez à aider d’autres animaux dans le besoin.
  </p>
</div>
<div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg mt-8">
    <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Rendez-vous
    </h1>

    <p class="text-gray-700 leading-relaxed mb-4">
        Vous pouvez me téléphoner directement, me contacter via <a class="text-blue-600" href="https://wa.me/32456242701" target="_blank">WhatsApp</a>, Messenger ou utiliser le <a class="text-blue-600" routerLink="contact">formulaire de contact</a>. Je vous recontacterai pour fixer un rendez-vous.
    </p>
</div>
