<div class="lg:mt-8 flex flex-col px-2 lg:px-0 lg:flex-row lg:flex-wrap lg:space-x-8 lg:justify-evenly">
  <div class="lg:mt-4 lg:mt-0 lg:w-[800px]">
    <app-carousel></app-carousel>
  </div>
  <div class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <app-home-info></app-home-info>
  </div>

  <div style="margin-left: 0px" class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Bon à savoir
      </h1>
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Accessible
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Un parking d’environ 15 places est à votre disposition juste en face du refuge. Le salon se trouve au sein même
        du refuge.
      </p>

      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Lorsque vous venez pour le toilettage de votre chien, vous avez toujours le choix :
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        Rester durant le toilettage : Deux chaises, une table et deux porte-manteaux sont mis à votre disposition.</p>
      <p class="text-gray-700 leading-relaxed mb-4">Me confier votre chien : Vous pourrez venir le chercher une fois le toilettage terminé. Je vous appelle dès que
        c’est fini.
      </p>
    </div>
  </div>
  <div class="mb-8 mt-4 lg:mb-0 lg:w-[800px]">
    <div class="w-full mx-auto p-6 bg-gray-50 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Diplômes et formations
      </h1>
      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Diplôme en esthétique canine
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        2023: Diplôme avec mention en esthétique canine à la promotion sociale de Jemappe (EAFC Jean Meunier).
      </p>

      <h2 class="text-xl font-semibold text-gray-800 mb-4">
        Formation aux premiers gestes de secours canins
      </h2>
      <p class="text-gray-700 leading-relaxed mb-4">
        2023 : Formation aux premiers gestes de secours canins (niveaux 1 et 2) chez OCCI Canin.
      </p>
    </div>

  </div>
</div>
